body{
    background: linear-gradient(135deg, hsla(224, 75%, 45%, 1) 0%, hsla(324, 75%, 45%, 1) 100%);
  }

.jumbotron{
  color: aliceblue;

}
#link:hover,active,visited{

  text-decoration: none;
  }